Flask
Flask-JWT-Extended
Flask-Cors
python-dotenv

# IoT & Sensors
paho-mqtt
requests

# Notifications & Alerts
twilio
email-validator

# Data Processing & Reports
openpyxl
reportlab
PyPDF2

# Geospatial
geopy
folium

# Utils
python-dateutil
pytz
gunicorn
